* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background: #2ea44f;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header {
  background: #fff;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  color: #374151;
  text-decoration: none;
}
.hero {
  min-height: 100vh;
  background-image: url("../assets/hero-bg.png");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero h1 span {
  color: #30B868;
}
